<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.13/p5.min.js"></script>
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.min.js"></script>
  <script>
    var config = {
        apiKey: "AIzaSyAobS5XYKXVRZP9LsRLRIFzQ8iydAKLX08",
        authDomain: "preattentive-processing.firebaseapp.com",
        databaseURL: "https://preattentive-processing.firebaseio.com",
        projectId: "preattentive-processing",
        storageBucket: "preattentive-processing.appspot.com",
        messagingSenderId: "884929685567"
      };
      firebase.initializeApp(config);
  </script>

  <script src="task1.js"></script>
  <script src="script.js"></script>


  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="style.css">
  <title>Experiment</title>
</head>

<body ng-app="experimentApp" ng-controller="experimentCtrl">

  <div class="screen" ng-if="!completed">
    <div class="question-wrapper" ng-if="questionPhase === 'SHOW_INSTRUCTIONS'">
      <div class="question-title">Question {{currentQuestion + 1}}/4</div>
      <div class="question-text">{{ QUESTIONS[currentQuestion].instructions }}</div>
    </div>
  </div>

  <div class="screen" ng-if="completed">
    <div class="question-wrapper">
      <div>Congratulations, your time was {{totalTime}} milliseconds</div>
    </div>
  </div>
</body>

</html>