<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.13/p5.min.js"></script>
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.min.js"></script>
  <script>
    var config = {
      apiKey: "AIzaSyAobS5XYKXVRZP9LsRLRIFzQ8iydAKLX08",
      authDomain: "preattentive-processing.firebaseapp.com",
      databaseURL: "https://preattentive-processing.firebaseio.com",
      projectId: "preattentive-processing",
      storageBucket: "preattentive-processing.appspot.com",
      messagingSenderId: "884929685567"
    };
    firebase.initializeApp(config);
  </script>

  <script src="shape-generator.js"></script>
  <script src="task1.js"></script>
  <script src="task2.js"></script>
  <script src="task3.js"></script>
  <script src="task4.js"></script>
  <script src="script.js"></script>


  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="style.css">
  <title>Experiment</title>
</head>

<body ng-app="experimentApp" ng-controller="experimentCtrl">

  <div class="screen" ng-if="!began" ng-click="beginQuestionnaire()">
    <div class="question-wrapper">
      <div class="question-text">Click/touch anywhere when ready</div>
      <div class="question-title">Complete the next 4 tasks, as fast as you can. Instructions will show for 5 seconds before each task. Complete a task
        by identifying the target and simply touch\click\tap it.</div>
    </div>
  </div>

  <div class="screen" ng-if="!completed && began">
    <div class="question-wrapper" ng-if="questionPhase === 'SHOW_INSTRUCTIONS'">
      <div class="question-text">{{ QUESTIONS[currentQuestion].instructions }}</div>
      <div class="question-title">Question {{currentQuestion + 1}}/4</div>
    </div>
  </div>

  <div class="screen" ng-if="completed">
    <div class="question-wrapper">
      <div></div>
    </div>
    <div class="question-wrapper">
      <div class="question-text">Your total time was {{totalTime / 1000 }} seconds</div>
      <div class="question-title">Woah! This is the best score recorded so far. Not really, but we thought it will make you feel better for a little
        bit.</div>
    </div>
  </div>
</body>

</html>